ul,
li {

    text-decoration: none;
    list-style: none;
}

.nav {
    box-shadow: 0px 8px 25px 3px #000000b5;
    padding: 10px 2em 10px 2em;

    &__ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    background-color: #282c34;
    color: white;
    padding: 15px 2em 30px 2em;
    justify-content: space-around;

    // &__ul {
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: space-around;
    //     align-items: center;
    // }

    // &__li {
    //     display: flex;
    //     flex-direction: row;
    //     padding: 8px 2em 8px 2em;
    //}
        p {
            font-size: smaller;
        }
    

    &__p {
        font-size: xx-small;
        position: relative;
        text-align: center;
    }
}